## NASA Center Analysis
mme-mean calc's are wrong
<details>
<summary>VARIABLES</summary>

| Variable Name       | Long Name                                          | Variable Category | Units     | Description                                                                                                                                                          |
| ------------------- | -------------------------------------------------- | ----------------- | --------- | -------------------------------------------------------------------------------------------------------------------------------------------------------------------- |
| tmax_days_35C       | \# days Tmax ≥35°C                                 | extreme index     | \# days   | Number of days, per year, with Tmax >=35C                                                                                                                            |
| tmax_days_90th      | \# days Tmax ≥90th Percentile                      | extreme index     | \# days   | Number of days, per year, with Tmax 90th percentile. 90th percentile calculated using all daily tmax values from 1995-2014.                                          |
| tmax_days_95th      | \# days Tmax ≥95th Percentile                      | extreme index     | \# days   | Number of days, per year, with Tmax 95th percentile. 95th percentile calculated using all daily tmax values from 1995-2014.                                          |
| tmax_days_99th      | \# days Tmax ≥99th Percentile                      | extreme index     | \# days   | Number of days, per year, with Tmax 99th percentile. 99th percentile calculated using all daily tmax values from 1995-2014.                                          |
| Hottest_Tmax        | Hottest Tmax of the Year (°C)                      | extreme index     | degrees C | Hottest Tmax value every year                                                                                                                                        |
| Max_DTR             | Largest Diurnal Temperature Range of the Year (°C) | extreme index     | degrees C | largest diurnal temperature range (tmax minus tmin) each year                                                                                                        |
| tmin_tropnights_20C | \# days Tmin ≥20°C                                 | extreme index     | \# days   | Number of days, per year with Tmin >=20C                                                                                                                             |
| tmin_frostdays_0C   | \# days Tmin ≤0°C                                  | extreme index     | \# days   | Number of days per year with Tmin <=0C                                                                                                                               |
| Coldest_Tmin        | Coldest Tmin of the Year (°C)                      | extreme index     | degrees C | Coldest minimum temperature each year                                                                                                                                |
| prec_days_dry       | \# days with precipitation ≤0.001 in               | extreme index     | \# days   | Number of days, per year, where precipitation <=1e-3 inches                                                                                                          |
| prec_days_oneinch   | \# days with precipitation ≥1 in                   | extreme index     | \# days   | Number of days, per year, where precipitation >=1 inch                                                                                                               |
| prec_days_90th      | \# days with precipitation ≥90th Percentile        | extreme index     | \# days   | Number of days, per year, where precipitation >=90th percentile. 90th percentile calculated usingd all daily precipitation values (dry days EXCLUDED) from 1995-2014 |
| prec_days_95th      | \# days with precipitation ≥95th Percentile        | extreme index     | \# days   | Number of days, per year, where precipitation >=95th percentile. 95th percentile calculated usingd all daily precipitation values (dry days EXCLUDED) from 1995-2014 |
| prec_days_99th      | \# days with precipitation ≥99th Percentile        | extreme index     | \# days   | Number of days, per year, where precipitation >=99th percentile. 99th percentile calculated usingd all daily precipitation values (dry days EXCLUDED) from 1995-2014 |
| tmax_annave         | Annual Average Tmax (°C)                           | annual average    | degrees C | Annual average maximum daily temperature                                                                                                                             |
| tmin_annave         | Annual Average Tmin (°C)                           | annual average    | degrees C | Annual average minimum daily temperature                                                                                                                             |
| prec_annave         | Annual Total Precipitation (mm)                    | annual SUM        | degrees C | Annual SUM of precipitation                                                                                                                                          |</details>

In [1]:
# Imports
import os
import warnings

import numpy as np
import pandas as pd
import pandasql as psql

# Suppress warnings
warnings.filterwarnings('ignore')

## Initialization

In [2]:
path = 'updated_extremes'  # data directory
center = 'LARC'.upper()    # NASA center to analyze
path = os.path.join(path, center)
only_future = True         # flag to use only 2020-2099
ssp = ['ssp126', 'ssp245', 'ssp370'] # scenarios to use

In [3]:
# DO NOT CHANGE THIS CELL
# OLD File name convention: variable_CENTER_ssp###.csv
# File name convention: variable.ssp###.CENTER.csv

# NASA Centers
centers = ['AMES', 'GSFC', 'JPL', 'KSC', 'MSFC', 'MAF', 'GISS',
           'LARC', 'SSC', 'GRC', 'WFF', 'JSC', 'WSTF', 'AFRC']

# Check if the provided center is valid
if center not in centers:
    raise ValueError(f'{center} not in {centers}')

# Variable unit: number of DAYS when... assume others are celsius
day_unit = ['days', 'tropnights']

# Shared Socioeconomic Pathways (SSPs) climate scenarios
print(f'Available: {sorted(list({f.split('.')[1] for f in os.listdir(path) 
                                 if 'ssp' in f.split('_')[-1]}))}')
# Time periods: 10 years before+after a decade
time_periods = {'short': (2020, 2049),  # 2030's: 2020-2029, 2030-2039, 2040-2049
                'mid':   (2040, 2069),  # 2050's: 2040-2049, 2050-2059, 2060-2069
                'long':  (2070, 2099),  # 2080's: 2070-2079, 2080-2089, 2090-2099
                }

Available: ['ssp126', 'ssp245', 'ssp370']

# Get Files/Data

In [4]:
def get_files(path: str, center: str):
    '''Returns list of all csv files in the directory that contain the center and ssp name'''
    return [os.path.join(path, f) for f in os.listdir(path) 
             if center in f and any(s in f for s in ssp) and f.endswith('.csv')]

def check_df_consistency(df_list: list[pd.DataFrame]):
    '''Returns T/F if all dataframes in the list have the same column names and index values'''
    if not df_list:
        return False
    
    # Get reference column names and index values from the first dataframe
    ref_cols, ref_index = list(df_list[0].columns), list(df_list[0].index)
    
    # Check if all other dataframes have the same column names and index values
    return all(list(df.columns) == ref_cols and list(df.index) == ref_index 
               for df in df_list[1:])

def label_term(year: int):
    '''Returns list of time period labels for a given year'''
    return [t for t, (s, e) in time_periods.items() if s <= year <= e]


def preprocess(filename: str, only_future: bool=True):
    '''Returns a preprocessed pandas DataFrame from a csv file'''
    df = pd.read_csv(filename)
    name = filename.split('/')[-1][:-4].split('.')
    
    # Add new columns: term, scenario, and variable
    df.insert(0, 'term', df.Years.apply(label_term))
    df.insert(0, 'scenario', name[1])
    df.insert(0, 'variable', name[0] + ('_d' if any(d in filename for d in day_unit) else '_c'))
    
    # Explode the 'term' column (in case a year belongs to multiple terms)
    df = df.explode('term')

    # Remove rows with NaN terms if only_future is True, otherwise return all rows
    return df.dropna(subset=['term']) if only_future else df # nan's (unlabeled) assumed to be past data

In [5]:
# Preprocess all files as df's
files = sorted(get_files(path, center))
df = [preprocess(f, only_future) for f in files]

# Check if all dataframes have the same format
if not check_df_consistency(df):
    raise ValueError('DataFrames are inconsistent')

# Combine all dataframes into one
df = pd.concat(df).reset_index(drop=True)
cols = ['variable', 'scenario', 'term']

# Check the number of years per time period (expected is 30)
years_per_term = df.groupby(cols).size().unique()
if len(years_per_term) != 1 or years_per_term[0] != 30:
    raise ValueError(
        f'# of years per time period is incorrect: {years_per_term}')

print(f'{len(files)} {center} files')
print(files[:5], '\n')
display(df.info())

51 LARC files
['updated_extremes/LARC/Coldest_Tmin.ssp126.LARC.csv', 'updated_extremes/LARC/Coldest_Tmin.ssp245.LARC.csv', 'updated_extremes/LARC/Coldest_Tmin.ssp370.LARC.csv', 'updated_extremes/LARC/Hottest_Tmax.ssp126.LARC.csv', 'updated_extremes/LARC/Hottest_Tmax.ssp245.LARC.csv']

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4590 entries, 0 to 4589
Data columns (total 32 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   variable       4590 non-null   object
 1   scenario       4590 non-null   object
 2   term           4590 non-null   object
 3   Years          4590 non-null   float64
 4   ACCESS-CM2     4590 non-null   float64
 5   ACCESS-ESM1-5  4590 non-null   float64
 6   BCC-CSM2-MR    4590 non-null   float64
 7   CESM2          1620 non-null   float64
 8   CMCC-ESM2      4590 non-null   float64
 9   CNRM-CM6-1     4590 non-null   float64
 10  CNRM-ESM2-1    4590 non-null   float64
 11  EC-Earth3      4590 non-null   float64
 12  FGOALS-g3      4590 non-null   float64
 13  GFDL-ESM4      4590 non-null   float64
 14  GISS-E2-1-G    4590 non-null   float64
 15  INM-CM4-8      4590 non-null   float64
 16  INM-CM5-0      4590 non-null   float64
 17  IPSL-CM6A-LR   4590 non-null   float64
 18  KACE-1-0-G     4590 non-null   float64
 19  MIROC6         4590 non-null   float64
 20  MIROC-ES2L     4590 non-null   float64
 21  MPI-ESM1-2-HR  4590 non-null   float64
 22  MPI-ESM1-2-LR  4590 non-null   float64
 23  MRI-ESM2-0     4590 non-null   float64
 24  NorESM2-LM     4590 non-null   float64
 25  NorESM2-MM     4590 non-null   float64
 26  MME-mean       4590 non-null   float64
 27  MME-median     4590 non-null   float64
 28  MME-pct25      4590 non-null   float64
 29  MME-pct75      4590 non-null   float64
 30  MME-pct05      4590 non-null   float64
 31  MME-pct95      4590 non-null   float64
dtypes: float64(29), object(3)
memory usage: 1.1+ MB

None

In [6]:
MME = list(df.filter(regex='MME-').columns)
models = list(df.columns.drop(cols+MME+['Years']))
df1 = df.set_index(['variable', 'scenario', 'term', 'Years'])
df1['calc_mean'] = df1[models].mean(axis=1)
df1['calc_median'] = df1[models].median(axis=1)
df1['calc_pct25'] = df1[models].quantile(0.25, axis=1)
df1['calc_pct75'] = df1[models].quantile(0.75, axis=1)
df1['calc_pct05'] = df1[models].quantile(0.05, axis=1)
df1['calc_pct95'] = df1[models].quantile(0.95, axis=1)

df_mme = df1.filter(regex='MME-')
df_cal = df1.filter(regex='calc_')
df_cal.columns=df_mme.columns

err = df_mme.compare(df_cal, result_names=('term_MME', 'term_calc')).dropna(how='all')
display(err)

                                               MME-mean            MME-median  \
                                               term_MME  term_calc   term_MME
variable              scenario term  Years
Coldest_Tmin_c        ssp126   short 2020.0  -11.633955 -11.633955        NaN
                                     2021.0  -11.645869 -11.645869        NaN
                                     2023.0  -12.612939 -12.612939        NaN
                                     2026.0  -11.583737 -11.583737        NaN
                                     2032.0  -11.983836 -11.983836        NaN
...                                                 ...        ...        ...
tmin_tropnights_20C_d ssp370   long  2095.0  125.571429  89.428571      126.0
                                     2096.0  126.095238  86.666667      123.0
                                     2097.0  125.095238  91.761905      121.0
                                     2098.0  127.714286  87.285714      125.0
                                     2099.0  129.619048  87.857143      129.0

                                                      MME-pct25            \
                                            term_calc  term_MME term_calc
variable              scenario term  Years
Coldest_Tmin_c        ssp126   short 2020.0       NaN       NaN       NaN
                                     2021.0       NaN       NaN       NaN
                                     2023.0       NaN       NaN       NaN
                                     2026.0       NaN       NaN       NaN
                                     2032.0       NaN       NaN       NaN
...                                               ...       ...       ...
tmin_tropnights_20C_d ssp370   long  2095.0      90.0     116.0      79.0
                                     2096.0      87.0     117.0      80.0
                                     2097.0      90.0     113.0      84.0
                                     2098.0      82.0     118.0      75.0
                                     2099.0      87.0     122.0      76.0

                                            MME-pct75           MME-pct05  \
                                             term_MME term_calc  term_MME
variable              scenario term  Years
Coldest_Tmin_c        ssp126   short 2020.0       NaN       NaN       NaN
                                     2021.0       NaN       NaN       NaN
                                     2023.0       NaN       NaN       NaN
                                     2026.0       NaN       NaN       NaN
                                     2032.0       NaN       NaN       NaN
...                                               ...       ...       ...
tmin_tropnights_20C_d ssp370   long  2095.0     133.0      96.0     102.0
                                     2096.0     132.0      94.0     112.0
                                     2097.0     137.0     102.0     107.0
                                     2098.0     136.0     101.0     113.0
                                     2099.0     137.0     100.0     115.0

                                                      MME-pct95
                                            term_calc  term_MME term_calc
variable              scenario term  Years
Coldest_Tmin_c        ssp126   short 2020.0       NaN       NaN       NaN
                                     2021.0       NaN       NaN       NaN
                                     2023.0       NaN       NaN       NaN
                                     2026.0       NaN       NaN       NaN
                                     2032.0       NaN       NaN       NaN
...                                               ...       ...       ...
tmin_tropnights_20C_d ssp370   long  2095.0      70.0     154.0     112.0
                                     2096.0      70.0     148.0      99.0
                                     2097.0      63.0     152.0     117.0
                                     2098.0      69.0     147.0     117.0
                                     2099.0      64.0     147.0     102.0

[3409 rows x 12 columns]